/* ------------------------------------------
 ______              ___                _    
|_   _ `.          .' ..]              / |_  
  | | `. \ .---.  _| |_  ,--.  __   _ `| |-' 
  | |  | |/ /__\\'-| |-'`'_\ :[  | | | | |   
 _| |_.' /| \__.,  | |  // | |,| \_/ |,| |,  
|______.'  '.__.' [___] \'-;__/'.__.'_/\__/  
                                             
------------------------------------------ */

/* Mise en place de la police et de la taille du texte */
body {
    font-family: 'Major Mono Display', monospace;
    font-size: 1rem;
    background-image: linear-gradient(to right top, #ff000030, #f3630030, #de920030, #c2b70030, #a0d60030, #74dd5430, #46e08530, #00e1ad30, #00c6d930, #00a5ff30, #0078ff30, #0000ff30);
    background-repeat: no-repeat;
}

/* Changement taille du titre de niveau 1 */
h1 {
    font-size: 2em;
}

/* Effet d'annimation sur les cases du tableau de compétences lors du survol de la souris */
tr:hover {
    transform: scale(1);
    transition: .5s;
    transition-timing-function: linear;
    transition-delay: .1s;
    /* background-color: hsla(0, 0%, 29%, 0.5); */
    background-image: linear-gradient(to right, #0066ff, #fa3bd3, #ff4f7f, #ffad22, #f7ff00);
    font-size: 1.5em;
    font-weight: 600;
}

/* ------------------------------------------
 _____  ______    
|_   _||_   _ `.  
  | |    | | `. \ 
  | |    | |  | | 
 _| |_  _| |_.' / 
|_____||______.'  
                  
------------------------------------------ */

#navbar {
    padding: 2%;
}

/* 404 */
#erreur {
    font-family: 'Megrim', cursive;
    display: flex;
    /* height: 200px; */
    align-items: center;
    justify-content: center;
    font-size: 2em;
    flex-direction: column;
    margin-top: 10%;
}

/* Modification CSS des sections */
#competenceSection,
#certifSection,
#formationSection,
#experienceSection {
    border: 2px solid rgba(28, 110, 164, 0.5);
    border-radius: 20px;
    padding: 1%;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
}

/* Paramétrage de la taille des images */
#competenceSection img {
    height: 1.5em;
}

#certifSection img {
    height: 5em;
}

/* ------------------------------------------
   ______  __                        
 .' ___  |[  |                       
/ .'   \_| | |  ,--.   .--.   .--.   
| |        | | `'_\ : ( (`\] ( (`\]  
\ `.___.'\ | | // | |, `'.'.  `'.'.  
 `.____ .'[___]\'-;__/[\__) )[\__) ) 
                                     
------------------------------------------ */

/* Fait en sorte d'avoir les bordure sur les div */
.compt_titre,
.compt_description,
.certif_titre,
.certif_description,
.forma_titre,
.forma_lieu_date,
.forma_description,
.xp_titre,
.xp_lieu_date,
.xp_description {
    border: 2px solid rgba(28, 110, 164, 0.5);
    border-radius: 10px;
    padding: 1%;
    margin-bottom: 0.5%;
}

/* Permet de mettre en noir et blanc l'élément (utilisé pour les étoiles de compétences) */
.grayscale {
    filter: grayscale(100%);
}

/* Utilisé pour crée l'espace entre les blocks */
.space {
    margin: 3%;
}

/* Modification CSS du texte de la page certification */
.certif_description {
    display: flex;
    align-items: center;
}

.certif_texte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.certif_texte1 {
    text-align: center;
    color: #1C4255;
    font-size: 1.5em;
}

.certif_texte2 {
    color: #6b6b6b;
}

.certif_niveau {
    margin: auto;
}

/* Modification CSS des divs "titres" et "lieu&date" */
.forma_titre,
.xp_titre {
    text-align: center;
    font-weight: bold;
}

.forma_lieu_date,
.xp_lieu_date {
    display: flex;
    justify-content: space-around;
}